@font-face {
  font-family: 'emulogic';
  src: url('emulogic.ttf');
}


h1, h2, h3 { font-family: 'Open Sans', serif; }

#header1 {
margin-left: 130px;
margin-top: 400px;

}
#paragraph1 {
  margin-left: 130px;
  margin-top: 450px;

}
.bold-text{
  font-weight: bold;
}
